.pagination-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.page-item {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gold-accent);
  color: var(--gold-accent);
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.page-item.active {
  background: var(--gold-accent);
  color: var(--primary-black);
  font-weight: bold;
}