.custom-btn {
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
  font-size: 14px;
  border: 2px solid var(--gold-accent);
}

.btn-gold-solid {
  background-color: var(--gold-accent);
  color: var(--primary-black);
}

.btn-gold-outline {
  background-color: transparent;
  color: var(--gold-accent);
}